/* 產生框線 */
*{
   border: #5b5958 solid 2px;
}
/* 整個視窗畫面設定 */
html,body{
    /* 設定背景顏色為淺灰色 */
   background-color: #bf833e;
   /* 設定視窗的高度為100% */
    height: 100%;
    /* 設定視窗的寬度為100% */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: #fdfdfd;
    /* 設定寬度為380px，且置中在視窗中間 */
    width: 380px;
    margin: 0 auto;
}
.top{
    /* 鏈接一個網頁的圖片當作.top的背景圖片 */
    background-image: url(https://pic.pimg.tw/sidney6811/1529508979-1559019819_n.jpg);
/* .top的高設定為330px，背景圖要充滿整個.top內 */
height: 330px;
background-size: cover;
/* 把h2d的文字置於.top的下方，且文字靠左*/
display: flex;
align-items: flex-end;
}

.top h2{ 
    /* 設定文字顏色為白色 */
    color: #fff;
    /* 設定文字置於對齊整個div.top的下方，距離top下方的內距為20px，距離top左方的內距為20px */
    margin-left: 20px;
    margin-bottom: 20px;
}